/* assets/BookMockup.css */
.book-main-div {
    position: relative;
    width: 100%;
    max-width: 800px;
    /* Adjust based on Book.png dimensions */
    aspect-ratio: 3 / 2;
    /* Adjust based on Book.png aspect ratio */

    perspective: 1000px;
}

.book-main-div>img {
    width: 300px;
    height: 400px;
    display: block;
    margin: auto;
}

/* .book-cover {
    position: absolute;
    top: 4.9%;
    left: 27%;
    width: 38.9%;
    height: 88.1%;
    overflow: hidden;
    border-radius: 4px;

    transform: perspective(980px) rotateY(-15deg) rotate(0deg);
    transform-origin: bottom left;
} */
.book-cover {
    /* position: absolute;
    top: 5.5%;
    left: 30.1%;
    width: 32%;
    height: 75.9%;
    overflow: hidden;
    border-radius: 4px;
    transform: perspective(859px) rotateY(-7deg) rotate(-0.2deg);
    transform-origin: top left; */

    top: 6.2%;
    left: 8%;
    width: 69%;
    height: 85%;
    overflow: hidden;
    border-radius: 4px;
    transform: perspective(859px) rotateY(-7deg) rotate(-0.2deg);
    transform-origin: top left;
}

.book-cover img {
    /* transform: rotate(0deg) rotateY(-39deg);
    transform-origin: bottom left; */
}