.lapi-screen{
    width: 50.6%;
    height: 63.4%;
    left: 22.7%;
    top: 6.6%;
    /* width: 253px;
    height: 149px;
    left: 28.5%;
    top: 17%; */
}

.phone-container {
    position: relative;
    /* filter: drop-shadow(0 25px 30px rgba(0, 0, 0, 0.65)); */
}

.phone-screen {
    position: absolute;
    left: 24.21%;
    top: 6.12%;
    width: 51.78%;
    height: 83.92%;
    border-radius: 11% / 6%;
    overflow: hidden;
    z-index: 20;
}

.phone-notch {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 1.53%;
    width: 24.55%;
    height: 3.15%;
    background-color: #07070c;
    border-radius: 9999px;
    z-index: 30;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.2);
}